.env
.env.*
.env.local

.next
node_modules
npm-debug.log*

.git
.gitignore
.gitattributes

.cache
coverage
playwright-report
test-results

.eslintrc.json
.prettierrc
README.md
PROJECT.md
Agents.md

e2e
docs
features.md
